In [1]:
import numpy as np
import scipy.stats as scs
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [4]:
df = pd.read_csv('/mnt/c/Users/kurtrm/Downloads/1306116.csv')

In [7]:
df

,STATION,NAME,DATE,PRCP,SNOW,TAVG,TMAX,TMIN,TOBS
0,USC00456295,"PALMER 3 ESE, WA US",2000-01-01,0.68,0.0,NaN,43.0,33.0,35.0
1,USW00024222,"EVERETT SNOHOMISH CO AIRPORT, WA US",2000-01-01,0.39,NaN,39.0,42.0,35.0,NaN
2,USW00024233,"SEATTLE TACOMA INTERNATIONAL AIRPORT, WA US",2000-01-01,0.27,NaN,40.0,43.0,37.0,NaN
3,USC00458278,"TACOMA NUMBER 1, WA US",2000-01-01,0.43,0.0,NaN,47.0,37.0,43.0
4,USW00094274,"TACOMA NARROWS AIRPORT, WA US",2000-01-01,0.35,NaN,40.0,43.0,36.0,NaN
5,USC00459021,"WAUNA 3 W, WA US",2000-01-01,0.34,0.0,NaN,NaN,NaN,NaN
6,USW00094290,"SEATTLE SAND POINT WEATHER FORECAST OFFICE, WA US",2000-01-01,0.07,NaN,42.0,44.0,39.0,NaN
7,USW00024234,"SEATTLE BOEING FIELD, WA US",2000-01-01,0.27,NaN,42.0,45.0,39.0,NaN
8,USC00458508,"TOLT SOUTH FORK RESERVOIR, WA US",2000-01-01,1.66,0.0,NaN,NaN,NaN,NaN
9,USC00454486,"LANDSBURG, WA US",2000-01-01,0.32,0.0,NaN,43.0,36.0,39.0
10,USW00094248,"RENTON MUNICIPAL AIRPORT, WA US",2000-01-01,0.27,NaN,42.0,45.0,39.0,NaN
11,USC00451233,"CEDAR LAKE, WA US",2000-01-01,0.78,0.0,NaN,41.0,31.0,34.0
12,USC00452675,"EVERETT, WA US",2000-01-01,0.50,NaN,NaN,NaN,NaN,NaN
13,USC00455525,"MONROE, WA US",2000-01-01,0.16,0.0,NaN,45.0,38.0,40.0
14,USC00457773,"SNOQUALMIE FALLS, WA US",2000-01-01,0.72,0.0,NaN,44.0,36.0,38.0
15,USC00450872,"BREMERTON, WA US",2000-01-01,0.23,0.0,NaN,44.0,38.0,40.0
16,USC00454169,"KENT, WA US",2000-01-01,0.32,0.0,NaN,47.0,36.0,42.0

In [8]:
17 * 5

85